html {
    background-color: #eee;
}

a {
    text-decoration: none;
}

#header-img {
    width: 300px;
    margin: 20px;
}

#nav-bar {
    position: fixed;
    display: flex;
    top: 0;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

div.spacer {
    height: 400px;
}

@media (max-width: 500px) {
    #header-img {
        width: 200px;
    }
}