html {
    background-color: #eee;
}

a {
    text-decoration: none;
}

.header {
    position: fixed;
    top: 0;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

div.spacer {
    height: 400px;
}